.chi-section-title {
	background: linear-gradient(to right, black, #f1f1f1);
	color: #fff;
	text-shadow: 2px 2px 2px #444;
	width: 75%;
	text-align: center;
	text-transform: uppercase;
	padding: 1rem;
	margin: 2rem 0;
}

.chi-helper {
	margin-left: 1rem;
	font-weight: bold;



}
